.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.transition {
  transition-duration: 0.5s;
}

.transition:hover {
  opacity: 0.5;
}
